# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=evert
DB_PASS=nakroth
DB_NAME=uml_studio_db
DB_SYNCHRONIZE=true
DB_LOGGING=false

# Seguridad JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_EXPIRES_IN=7d

# Proveedor de Inteligencia Artificial
LLM_API_KEY=tu_api_key_de_ia
LLM_MODEL=gemini-1.5-pro
