package {{packageName}}.services;

import {{packageName}}.dtos.auth.LoginRequestDto;
import {{packageName}}.dtos.auth.RegisterRequestDto;
import {{packageName}}.dtos.auth.AuthResponseDto;

public interface AuthService {

    AuthResponseDto login(LoginRequestDto request);

    AuthResponseDto register(RegisterRequestDto request);
}
